<div class="container" style="border:solid;">
  <h1 style="color:orange">ToDo</h1>
  <form [formGroup]="taskForm">
    Description: <input type = "text" formControlName="description">
    <fieldset>
      <p>Priority: </p>
      <div>
        <input type="radio" id ="high" name ="priority" value ="high">
        <label for ="high">High</label>
      </div>
      <div>
        <input type="radio" id ="medium" name ="priority" value ="medium">
        <label for ="medium">Medium</label>
      </div>
      <div>
        <input type="radio" id ="low" name ="priority" value ="low">
        <label for ="low">Low</label>
      </div>
    </fieldset>
    Due: <input type="date" formControlName="due">
    <br>
    <br>
    <input type="submit" value="add">
  </form>
</div>
